table,th,td{
    border-collapse: collapse;
    border: solid;
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 200px;
}

#Arr{
    font-size: 50px;
    margin-left: 650px;
}

.arrayitem{
    color: blue;
    border-color: black;
}