/* index.html  */

body{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}
#title{
    
    color: red;
    font-size: 50px;
}
#line{
    font-size: 30px;
font-family: sans-serif;
font-weight: 100;    
color: grey;
    
}

/* Dropdown Button */
.dropbtn {
    color: green;
    background-color: #d8d6d7;
    padding: 30px 80px;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;
    font-size: 25px;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



#main{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

#foot{
    font-size: 20px;
}


/* topics.html */

#topic{
    
    font-size: 100px;
    text-decoration: underline;
}

table, th,td{
    border-collapse: collapse;
    border: solid;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.item{
    color: blue;
    border-color: black;
    
}
#topicmain{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}






