/* index.html  */

#title{
    
    color: red;
    font-size: 50px;
}
#line{
    font-size: 20px;
    
    
}
#goto{
    color: green;
    font-size: 25px;
    
}
#main{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}


/* topics.html */

#topic{
    
    font-size: 100px;
    margin-left: 550px;
}

table, th,td{
    border-collapse: collapse;
    border: solid;
    font-size: 30px;
    margin-left: 425px;
    margin-bottom: 20px;
}

.item{
    color: blue;
    border-color: black;
    
}






